.List{
    display: flex;
    justify-content: left;
    align-items:flex-start;
    background-color: rgb(65, 65, 65);
    margin: 20px auto;
    font-size: 14px;
    width: 80%;
    border-radius: 20px;
    margin-bottom: 20px;
    animation: fadeIn 1s;
}
.movieInf{
    background-color: rgb(65, 65, 65);
    margin-top: 20px;
}

.List > .poster {
    background-color: rgb(65, 65, 65);
}

.List > .poster > img{
    width: 130px;
    background-color: rgb(65, 65, 65);
    
}

.List > .movieInf > a, p{
    padding: 10px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(65, 65, 65);
    font-size: 25px;
}

.movieInf{
    text-align: left;
}
.movieInf > .movieTitle{
    margin-right: 15px;
    margin-left: 20px;
    height: 10px;
}


.info-title{
    height: auto;
    font-size: 50px;
    font-weight: bold;
}
