.List{
    display: flex;
    justify-content: left;
    align-items:flex-start;
    background-color: rgb(65, 65, 65);
    width: 80%;
    margin-bottom: 20px;
}

.movieInf{
    background-color: rgb(65, 65, 65);
    margin-top: 20px;
}

.List > .poster {
    background-color: rgb(65, 65, 65);
}

.List > .poster > img{
    width: 100px;
    background-color: rgb(65, 65, 65);
    
}

.List > .movieInf > a, p{
    padding: 10px;
    color: aliceblue;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(65, 65, 65);;
    font-size: 25px;
}

.movieInf > .movieTitle{
    
    margin-right: 15px;
    height: 10px;
    /* align-self: flex-start; */
}

p.inf{
    text-align: left;
    font-size: 14px;
    font-weight: lighter;
    height: 18px;
}