.PageError{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-size: 40px;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 700px;

}