.top{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.bigCard{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 95%;
}


.bigCard > h1   {
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    margin-bottom: 100px;
}